.notificacao{
    position: fixed;
    top: 10%;
    right: 13.5%;
    width: 30%;
    height: 60%;
    overflow-y: scroll;
    background-color: #7543F9;
    padding: 20px;
    z-index: 3;
    border-radius: 10px;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    display: none;
}

.notificacao::-webkit-scrollbar-track {
    background-color: #7543F9;
    border-radius: 10px;
}
.notificacao::-webkit-scrollbar {
    width: 10px;
    background: #7543F9;
    border-radius: 10px;
}
.notificacao::-webkit-scrollbar-thumb {
    background: #ffffff;
    border-radius: 10px;
}

.uma-ntfc{
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: start;
    margin-bottom: 20px;
    border-bottom: white 1px dashed;
}
.img-ntfc{
    width: 15%;
}

.ntfc-img-usuario{
    border-radius: 25px;
    width: 50px;
}

.conteudo-ntfc{
    width: 85%;
}

.conteudo-ntfc h2{
    margin: 0 0 5px;
}

.conteudo-ntfc p{
    margin: 5px 0 10px;
}