*{
    font-family: Arial, sans-serif;
    color: white;
}

html{
    scroll-behavior: smooth;
}

body::-webkit-scrollbar-track {
    background-color: #101728;
}
body::-webkit-scrollbar {
    width: 10px;
    background: #101728;
}
body::-webkit-scrollbar-thumb {
    background: #ffffff;
    border-radius: 10px;
}

body{
    background-color: #101728;
}

.animacao-inicial{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #101728;
    transition: 1.8s;
}

.animacao-inicial div{
    margin: 0;
    display: flex;
    color: white;
    align-items: center;
    gap: 10px;
    animation: linear logo 5s;
    transition: 2s;
}

@keyframes logo {
    5%{
        transform: translateX(-20%);
    }
    25%{
        transform: translateX(20%);
    }
    50%{
        transform: translateX(0%);
    }
    75%{
        transform: scale(2);
    }
    100%{
        transform: scale(1);
    }
}

header{
    margin: 0 auto 50px;
    width: 90%;
    display: flex;
    justify-content: space-between;
}

header h1{
    margin: 0;
    display: flex;
    color: white;
    align-items: center;
    gap: 10px;
}

header ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header ul li{
    list-style: none;
    padding: 5px;
    margin-left: 15px;
}

header ul li a{
    text-decoration: none;
    font-size: 22px;
    color: white;
}
main{
    margin: 0 auto;
    width: 90%;
    display: flex;
    flex-direction: column;
}

main .sessao-padrao{
    width: 100%;
    margin: 0 auto;
    margin-bottom: 17vh;
}

main .sessao{
    display: flex;
    justify-content: space-between;
}

main .sessao .titulo-btn{
    width: 30%;
}

main .sessao .titulo-btn h1{
    color: white;
    font-size: 65px;
}

.btn-saiba-mais{
    background-image: linear-gradient( to right, #9340FF 50%, #FF3C5F);
    border-radius: 30px;
    font-size: 20px;
    border: none;
    padding: 5px;
    width: 150px;
    cursor: pointer;
}
main .idolos{
    width: 50%;
}

main .idolos p{
    font-size: 42px;
    margin: 0 auto;
    width: 75%;
    text-align: center;
}

main .sessao1 p{
    font-size: 52px;
    text-align: center;
    font-weight: 800;
    margin: 0.25 0;
}

main .sessao1 legend{
    width: 75%;
    margin: 0 auto;
    font-size: 17px;
    text-align: center;
    font-weight: 800;
}

main .sessao2{
    display: flex;
    justify-content: space-between;
}

main .sessao2 .texto{
    width: 45%;
    display: flex;
    flex-direction: column;
}

h2.sub-titulo{
    color: #9340FF;
    font-size: 56px;
}

main .sessao2 .texto p{
    font-weight: 800;
}

main .sessao3{
    display: flex;
    justify-content: space-between;
    align-items: start;
}

main .sessao3 .texto{
    width: 45%;
    display: flex;
    flex-direction: column;
}

main .sessao3 .texto p {
    font-size: 20px;
    font-weight: 800;
}

main .sessao4{
    display: flex;
    align-items: center; 
    flex-direction: column;
    overflow: hidden;
    height: 360px;
}

main .sessao4 .valores{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 200px;
}

.card p{
    text-align: center;
    font-size: 18px;
}

footer{
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

footer .logo-redes{
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    width: 40%;
}

footer .logo-redes a{
    font-size: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

footer .logo-redes ul{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
    margin-left: -75px;
}

footer .logo-redes h2{
    color: #9340FF;
    font-size: 40px;
    margin: 30px 0 10px;
}

footer .logo-redes p{
    text-align: right;
    font-weight: 800;
}

.bkg-login{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0000003b;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(2px);
}

.login-cadastro{
    background-color: #9340FF;
    width: 27vw;
    height: 85vh;
    border-radius: 25px;
    overflow: hidden;
}

.login{
    border-radius: 25px;
    width: 100%;
    height: 100%;
    background-color: #9340FF;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: 2s;
}

.cadastro{
    border-radius: 25px;
    width: 100%;
    height: 100%;
    background-color: #FF3C5F;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: 2s;
}

form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 90%;
}


.caixa{
    background-color: #101728;
    display: flex;
    justify-content: start;
    border: solid white 1px;
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 10px;
}

.caixa-texto{
    background-color: #101728;
    font-size: 17.5px;
    color: white;
    border: none;
    outline: none;
}

legend{
    margin: 2px 12.5%;
    margin-bottom: 2%;
    font-weight: 600;
    font-size: 10px;
}

.caixa-texto::placeholder{
    color: white;
}

.cadastro-eqc-senha{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-bottom: 30px;
}

.cadastro-eqc-senha a{
    font-size: 15px;
    cursor: pointer;
}

.btn-login{
    background-color: #FF3C5F;
    border-radius: 30px;
    font-size: 20px;
    border: none;
    padding: 15px;
    width: 200px;
    cursor: pointer;
}

.erros{
    position: fixed;
    top: 5%;
    left: 70%;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #FF3C5F;
    border: 1px white solid;
    border-radius: 25px;
    padding: 5px;
}

.erros h2{
    width: 100%;
    font-size: 15px;
    color: white;
    text-align: center;
}
